<h1>Directors</h1>

<h1><%= button_to "New Director", "/directors/new", :method => "get" %></h1>

<% @directors.each do |director| %>
  <p><h2><%= link_to director.name, "/directors/#{director.id}" %></h2><h3>Created at: <%= director.created_at %></h3></p>
<% end %>
